.container {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.2s, opacity 0.1s;
  padding: 5px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.opened {
  height: 40%;
  background-color: var(--inactive-bgcolor-dark);
  opacity: 1;
}

.container button {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #e63946;
  align-self: flex-end;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.container button:hover {
  background-color: #d62828;
}

.container button:active {
  background-color: #b71c1c;
  transform: scale(0.97);
}

.container button:focus {
  outline: 1px solid #ff8c94;
}
